---
const pricing = [
  {
    name: 'Starter Landing',
    description: 'Perfect for small businesses and organizations that need a simple online presence',
    periodicity: '/one-time',
    isFlagged: true,
    price: '$750 - $1,500',
    action: 'Enquire Now',
    features: [
      'Single page design',
      '3-4 content sections',
      'Mobile responsive',
      'SEO',
      '1 year of hosting',
      '2 content updates'
    ],
  },
  {
    name: 'Multi-Page Essential',
    description: 'Static multi-page website for established businesses or organiztions that want a unique online presence',
    periodicity: '/one-time',
    price: '$2,000 - $3,500',
    action: 'Enquire Now',
    features: [
      'Up to 5 pages',
      'Custom design or template',
      'Contact form',
      'Social media integration',
      'SEO',
      '3 rounds of revisions',
      '1 year of hosting',
    ],
  },
  {
    name: 'Dynamic CMS Essential',
    description: 'Content-managed website with Strapi backend, perfect for businesses or organizations that have a blog or content that needs to be updated regularly',
    periodicity: '/one-time',
    isFlagged: true,
    price: '$5,000 - $7,500',
    action: 'Enquire Now',
    features: [
      '5-7 pages',
      'Strapi CMS integration',
      'Custom content types',
      'Admin dashboard',
      'User management',
      'Media library',
      '6 months of support',
      '1 year of hosting',
    ],
  },
  // {
  //   name: 'Dynamic CMS Professional',
  //   description: 'Advanced content-managed solution for complex needs',
  //   periodicity: '/one-time',
  //   price: '$7,499',
  //   action: 'Enquire Now',
  //   features: [
  //     'Up to 15 pages',
  //     'Advanced Strapi setup',
  //     'Multiple user roles',
  //     'Custom workflows',
  //     'Advanced media handling',
  //     'REST & GraphQL APIs',
  //     'SSO integration',
  //     'Advanced analytics',
  //     'Performance optimization',
  //     '12 months of support'
  //   ],
  // },
  // {
  //   name: 'Maintenance Plan',
  //   description: 'Ongoing website maintenance and updates',
  //   periodicity: '/month',
  //   price: '$199',
  //   action: 'Subscribe Now',
  //   features: [
  //     'Monthly content updates',
  //     'Security patches',
  //     'Performance monitoring',
  //     'Weekly backups',
  //     'Technical support',
  //     'SEO monitoring',
  //     'Monthly analytics report',
  //     '48-hour response time'
  //   ],
  // },
  {
    name: 'Custom Service',
    description: 'Have something else in mind?',
    periodicity: '',
    price: '',
    action: 'Contact Us',
    features: [
      'Competitive Contract Rates',
      'Hosting & Domain Setup',
      'Rebranding & Redesign',
      'Squarespace & Wordpress Help',
      'Google Analytics & SEO',
      'Custom Software Development',
    ],
  }
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="-mt-8 grid gap-8 lg:mt-0 lg:grid-cols-3">
      {
        pricing.map((item) => (
          <div
            class:list={[
              'relative flex flex-col gap-8 rounded-3xl p-8',
              item.isFlagged && 'bg-primary-500/10 dark:bg-primary-400/10',
            ]}
          >
            <div class="flex-1">
              <h2 class="text-xl font-medium">{item.name}</h2>
              <p class="mt-4 flex items-baseline">
                <span class="text-4xl font-medium tracking-tight">{item.price}</span>
                <span class="text-primary-950/70 dark:text-primary-200/70 ml-1 text-sm font-medium">
                  {item.periodicity}
                </span>
              </p>
              <p class="text-primary-950/70 dark:text-primary-200/70 mt-6">{item.description}</p>

              <ul role="list" class="mt-6 space-y-6">
                {item.features.map((feature) => (
                  <li class="flex gap-3">
                    <svg
                      class="text-primary-600 dark:text-primary-400 h-6 w-6 flex-shrink-0"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM11.0026 16L18.0737 8.92893L16.6595 7.51472L11.0026 13.1716L8.17421 10.3431L6.75999 11.7574L11.0026 16Z" />
                    </svg>
                    <span>{feature}</span>
                  </li>
                ))}
              </ul>
            </div>
            {/* <a
              href="#"
              class="bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex w-full items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
            >
              Buy now
            </a> */}
          </div>
        ))
      }
    </div>
  </div>
</section>
